/* 
================
    Toolbar
================
*/
.tool-bar-wrapper{
    padding: 10px;
    position: absolute;
}
.tool-bar{
    position: absolute;
    width: 100px;
    height: 556px;
    background-color: #fff;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 0px 0px 25px #88888869;
}
.icone{
    width: 70px;
    margin: 8px;
    border-radius: 77px;
    padding: 5px;
    height: 70px;
    border: 2px solid #757575;
}
.icone img{
    margin-top: 10px;
}
.icone:hover{
    cursor: pointer;
}
/* 
================
    Pastas
================
*/
.pastas{
    position: absolute;
    width: 270px;
    height: 526px;
    background-color: #fff;
    border-radius: 25px;
    margin: 10px;
    left: 110px;
    padding: 15px;
    box-shadow: 0px 0px 25px #88888869;
}
.pasta {
    text-align: left;
    padding: 15px;
    border: 1px solid #7575;
    margin: 5px;
    border-radius: 10px;
    position: relative;
}
.titulo:hover, .item:hover, .btn_excluirPasta:hover{
    cursor: pointer;
}
.titulo{
    display: inline-block;
}
.titulo p{
    width: 210px;
    margin: 0px;
    display: inline-block;
    top: 15px;
    position: absolute;
    left: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item{
    margin-top: 5px;
    margin-left: 35px;
    color: #757575;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cabecalho{
    padding: 5px;
}
.itens{
    display: none;
}
.arrow_down{
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background: url('../_assets/img/arrow_down.svg');
    background-size: 24px 24px;
    top: 10px;
}
.arrow_right{
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    background: url('../_assets/img/arrow_right.svg');
    background-size: 24px 24px;
    top: 10px;
}
.btn_excluirPasta{
    right: 10px;
    position: absolute;
    top: 10px;
}
.pasta:hover {
    border: 1px solid #ffa000;
}
.active{
    color: #ffa000;
}
.active-border{
    border: 1px solid #ffa000;
}
.tipo-active{
    border: 2px solid #ffa000;
}
.tipo-active .fil0{
    fill: #ffa000 !important;
}
.add-pasta {
    padding: 10px;
    border-color: #757575;
    border-width: 1px;
    border-style: dashed;
    border-radius: 10px;
    margin: 5px;
}
.add-pasta:hover{
    cursor: pointer;
    border-color: #ffa000;
    color: #ffa000;
    transition: all 0.5s;
}
/* 
================
   Edita Item
================
*/
.edit-Item{
    position: absolute;
    left: 420px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    width: calc(100% - 460px);
    height: 536px;
    box-shadow: 0px 0px 25px #88888869;
    text-align: left;
    min-width: 670px;
    display: none;
}
.edit-Item form{
    padding: 10px;
}
.edit-Item input{
    width: 60%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #757575;
    color: #757575;
}
.edit-Item label{
    margin: 20px;
}
.edit-Item button {
    background-color: #ffc107;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 150px;
    margin: 15px 0px;
    border-radius: 25px;
}
.edit-Item button:hover {
    background-color: #ffa000;
    cursor: pointer;
    
    transition: all 0.5s;
}
.materiais{
    width: 100%;
    display: inline-flex;
    white-space: nowrap;
    overflow-x: auto;
}
.material{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    width: 120px;
    height: 100px;
    box-shadow: 0px 0px 15px #75757540;
    border: 1px solid #757575;
    text-align: center;
    min-width: 120px;
}
.material svg{
    padding: 10px;
}
.material p{
    white-space: normal;
    margin: 5px;
    font-size: 13px;
}
.edit-Item form{
    width: 460px;
    position: relative;
    float: left;
}
.edit-Item [type="checkbox"]{
    width: 30px;
}
.add svg{
    width: 45px;
    height: 45px;
    fill: #757575;
}
.resultado{
    float: right;
    margin-top: 285px;
    margin-left: 40px;
    margin-right: 180px;
}
.materialSelected{
    border: 1px solid #ffa000;
    color: #ffa000;
}
.materialSelected .fil0{
    fill:  #ffa000 !important;
    transition: all 0.5s;
}
.material:hover {
    border-color: #ffa000;
    color: #ffa000;
    cursor: pointer;
    transition: all 0.5s;
}
.material:hover .fil0{
    fill:  #ffa000 !important;
    transition: all 0.5s;
}
/* pop-up add Material */
.addMaterial{
    color: #000;
    display: none;
    z-index:3;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.addMaterial-form{
    position: absolute;
    width: calc(80vw - 60px);
    margin: 15vh 10vw;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
}
.addMaterial-form input{
    width: 80%;
    padding: 12px 20px;
    margin: 10px 10%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #757575;
    color: #757575;
}
.addMaterial-form button {
    background-color: #ffc107;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 30%;
    margin: 15px 2.5%;
    border-radius: 25px;
}
.addMaterial-form button:hover {
    background-color: #ffa000;
    cursor: pointer;
    
    transition: all 0.5s;
}
.danger{
    background-color: red !important;
}
.danger:hover{
    background-color: #c50000 !important;
}
.error{
    font-size: 14px;
    color: red;
    padding: 10px 50px;
}
.blur{
    filter: blur(4px);
}
/* add-item */
.add-item{
    border-style: dashed;
    border-color: #757575;
    border-width: 1px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
}
.add-item:hover{
    cursor: pointer;
    border-color: #ffa000;
    color: #ffa000;
    transition: all 0.5s;
}
/* add-item pop-up */
.addItem{
    color: #000;
    display: none;
    z-index:3;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.addItem-form{
    position: absolute;
    width: calc(80vw - 60px);
    margin: 15vh 10vw;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
}
.addItem-form input{
    width: 80%;
    padding: 12px 20px;
    margin: 10px 10%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #757575;
    color: #757575;
}
.addItem-form button {
    background-color: #ffc107;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 30%;
    margin: 15px 2.5%;
    border-radius: 25px;
}
.addItem-form button:hover {
    background-color: #ffa000;
    cursor: pointer;
    
    transition: all 0.5s;
}
/* add-pasta */

/* pop-up add pasta */
.addPasta{
    color: #000;
    display: none;
    z-index:3;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}
.addPasta-form{
    position: absolute;
    width: calc(80vw - 60px);
    margin: 15vh 10vw;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
}
.addPasta-form input{
    width: 80%;
    padding: 12px 20px;
    margin: 10px 10%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #757575;
    color: #757575;
}
.addPasta-form button {
    background-color: #ffc107;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 30%;
    margin: 15px 2.5%;
    border-radius: 25px;
}
.addPasta-form button:hover {
    background-color: #ffa000;
    cursor: pointer;
    
    transition: all 0.5s;
}




