*{
    font-family: "Poppins", sans-serif;
}
/* NAVBAR */
.wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 52.25px);
    background-color: #ececec;
    text-align: center;
}
.nav-bar{
    position: relative;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 25px #88888869;
    z-index: 1;
}
.nav-bar .logo{
    width: 150px;
}
.nav-bar-buttons{
    float: right;
    padding: 8px 15px;
}
svg.btn-sair {
    fill: #757575;
}
svg.btn-sair:hover{
    fill: #ffc107;
    transition: all 0.5s;
}
.green{
    background-color: green !important;
}
.red{
    background-color: red !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}